.container {
  display: grid;
  row-gap: 46px;
  column-gap: 48px;
  padding: 50px 40px;

  grid-template-columns: repeat(auto-fit, $card-width);

  justify-content: center;

  /*@include onSmartphone {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onLaptop {
    grid-template-columns: repeat(4, 1fr);
  }*/
}
